body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 80%;
    margin: auto;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 119, 50);
    font-weight: bold;
    font-size: 32px;
    
}

h6{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(5, 5, 59);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.nav a {
    text-decoration: none;
    color: rgb(34, 121, 90);
    padding: 0.5rem 1rem;
}

.nav a.active {
    font-weight: bold;
    border-bottom: 2px solid rgb(20, 119, 50);
}
input:invalid {
    border: 1px solid red; /* Cambiar el borde a rojo */
}

span.error {
    color: red; /* Cambiar el color del texto a rojo */
    font-size: 12px;
}

.table thead th{
    background: rgb(34, 92, 48);
    color: white;
}
.form-register {
    padding: 20px; /* Añade espacio interno al formulario */
    border-radius: 10px; /* Añade bordes redondeados al formulario */
    border-radius: 14px;
    border:1px solid #cecccc;
}
.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #1c410a;
    font-family: 'calibri';
    font-size: 19px;
}
.form-check-input{
    font-family: 'calibri';
}


